<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sillystringz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/styles.css">
    
    
</head>
  <body>
    @RenderBody()
  </body>
</html>