<div id="header">
    <button class="btn btn-danger" onclick="window.location.href='/';">Home</button>
    <button class="btn btn-danger" onclick="window.location.href='/engineers';">Engineers</button>
    <button class="btn btn-danger" onclick="window.location.href='/machines';">Machines</button>

</div>